@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/tailwind.css */
@layer components {
  .font-poppins {
    font-family: "Poppins-Regular";
  }
  .font-poppins-medium {
    font-family: "Poppins-Medium";
  }
  .font-poppins-bold {
    font-family: "Poppins-Bold";
  }
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../public/assets/fonts/Poppins-Regular.woff2");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../public/assets/fonts/Poppins-Medium.woff2");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../public/assets/fonts/Poppins-Bold.woff2");
}
